.container{
    border: 3px solid grey;
    padding: 15px;
    background-color: gray;
    display: grid;  
    grid-template-columns: auto auto;
    
}
.container div{
    background-color: gray;
    padding: 20px;
    border: 1px solid black;
}

#item-1 {
grid-row-start: 1;
grid-row-end: 3;
}

#item-2 {
grid-column-start: 2;
grid-column-end: 3;
}